<div class="item-pointer"></div>
<div class="item-container-content">
    <?js if( p.user.admin ) {?>
    <svg class="flags flags-{item.flags}" viewBox="0 0 10 10">
        <polygon points="0,0 10,0 0,10"></polygon>
    </svg>
    <?js } ?>
    <div class="item-comments"></div>
    <div class="image-main">
        <div class="item-image-wrapper">
            <?js if( item.video ) { ?>
            <div class="item-image">
                <div class="item-image-thumb" style="background-image: url({item.thumb})"></div>
                <?js if(supportsAutoplay) {?>
                <video class="item-image-actual" draggable="true" loop autoplay preload="auto">
                  <?js if (item.variants && item.variants.length > 0) { ?>
                  <?js for (const variant of item.variants) { ?>
                  <source src="{variant.src}" type="{{variant.mimeType}}" <?js if (variant.media) { ?> media="{{variant.media}}"
                  <?js } ?> >
                  <?js } ?>
                  <?js } else {?>
                  <source src="{item.image}" type="video/mp4">
                  <?js } ?>
                  <?js if (item.subtitles && item.subtitles.length > 0) { ?>
                  <?js for (const st of item.subtitles) { ?>
                    <track kind="subtitles" src="{st.path}" label="{st.label}" srclang="{st.language}" <?js if (st.isDefault ||
                      item.subtitles.length===1) { ?> data-is-default=""
                    <?js } ?> >
                  <?js } ?>
                  <?js } ?>
                </video>
                <?js } else { ?>
                <video class="item-image-actual" draggable="true" webkit-playsinline playsinline loop preload="metadata"
                  poster="{item.thumb}">
                  <?js if (item.variants && item.variants.length > 0) { ?>
                  <?js for (const variant of item.variants) { ?>
                  <source src="{variant.src}" type="{{variant.mimeType}}" <?js if (variant.media) { ?> media="{{variant.media}}"
                  <?js } ?> >
                  <?js } ?>
                  <?js } else {?>
                  <source src="{item.image}" type="video/mp4">
                  <?js } ?>
                  <?js if (item.subtitles && item.subtitles.length > 0) { ?>
                  <?js for (const st of item.subtitles) { ?>
                    <track kind="subtitles" src="{st.path}" label="{st.label}" srclang="{st.language}" <?js if (st.isDefault ||
                      item.subtitles.length===1) { ?> data-is-default=""
                    <?js } ?> >
                  <?js } ?>
                  <?js } ?>
                </video>
                <svg class="video-play-button" viewBox="0 0 200 200">
                  <circle cx="100" cy="100" r="90" fill="none" stroke-width="15" stroke="#fff"></circle>
                  <polygon points="70, 55 70, 145 145, 100" fill="#fff"></polygon>
                </svg>
                <?js } ?>
            </div>

            <div class="video-controls<?js if(item.audio){?> has-audio<?js}?>">
              <div class="video-position-bar-background">
                <div class="video-position"></div>
              </div>
              <?js if(supportsAutoplay) {?>
                <div class="video-pause-controls" title="Pausieren [p]">
                  <svg class="video-state video-state-playing" viewBox="20 20 160 160">
                    <g class="video-state-play-button">
                      <polygon points="70,50 70,150 150,100" fill="#fff"></polygon>
                    </g>
                    <g class="video-state-pause-button">
                      <polygon points="70,50 70,150 90,150 90,50" fill="#fff"></polygon>
                      <polygon points="110,50 110,150 130,150 130,50" fill="#fff"></polygon>
                    </g>
                  </svg>
                </div>
              <?js } ?>
              <?js if(item.audio) {?>
                <div class="audio-controls" title="Stumm [q]">
                  <svg class="audio-state" viewBox="0 0 75 75">
                    <polygon class="audio-speaker"
                      points="39.389,13.769 22.235,28.606 6,28.606 6,47.699 21.989,47.699 39.389,62.75 39.389,13.769" />
                    <g class="audio-x">
                      <path d="M 49,50 69,26" />
                      <path d="M 69,50 49,26" />
                    </g>
                    <g class="audio-wave">
                      <path class="audio-wave-1" d="M 48,49 C 50,46 51,42 51,38 C 51,34 50,31 48,28" />
                      <path class="audio-wave-2" d="M 55,21 C 59,26 61,32 61,38 C 61,45 59,51 55,56" />
                      <path class="audio-wave-3" d="M 62,63 C 67,56 70,48 70,38 C 70,29 67,21 62,14" />
                    </g>
                    </svg>
                    <div class="audio-volume-controls">
                      <div class="audio-volume-bar"></div>
                      <div class="audio-volume-slider"></div>
                    </div>
                </div>
              <?js } ?>
              <?js if (item.subtitles && item.subtitles.length > 0) { ?>
              <?js if (item.subtitles.length === 1) { ?>
              <label title="{{item.subtitles[0].label}} (U)" class="subtitle-controls" id="video-controls-enable-subtitles-label">
                <input type="checkbox" id="video-controls-enable-subtitles-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="subtitle-button subtitle-disabled">
                  <path
                    d="M6 10v4c0 1.1.9 2 2 2h3v-2H8v-4h3V8H8a2 2 0 0 0-2 2zm7 0v4c0 1.1.9 2 2 2h3v-2h-3v-4h3V8h-3a2 2 0 0 0-2 2z" />
                  <path d="M20 4H4a2 2 0 0 0-2 2v12c0 1.1.9 2 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zM4 18V6h16v12H4z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="subtitle-button subtitle-enabled">
                  <path
                    d="M20 4H4a2 2 0 0 0-2 2v12c0 1.1.9 2 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm-9 6H8v4h3v2H8a2 2 0 0 1-2-2v-4c0-1.1.9-2 2-2h3v2zm7 0h-3v4h3v2h-3a2 2 0 0 1-2-2v-4c0-1.1.9-2 2-2h3v2z" />
                </svg>
              </label>
              <?js } else { ?>
              <!-- Multiple subtitles not supported yet -->
              <?js } ?>
              <?js } ?>
            </div>

            <?js } else { ?>
            <div class="item-image">
              <div class="item-image-thumb" style="background-image: url({item.thumb})"></div>
              <img class="item-image-actual" draggable="true" src="{item.image}" alt="">
              </div>

            <?js if(item.fullsize) { ?>
            <a href="{item.fullsize}" target="_blank" class="item-fullsize-link">+</a>
            <?js } ?>
            <a class="fa fa-arrows move-link"></a>
            <?js } ?>
            <div class="stream-prev arrow pict" title="Neuer [⭠, a]">&lt;</div>
            <div class="stream-next arrow pict" title="Älter [⭢, d]">&gt;</div>
            </div>
        <div class="item-info">
            <div>
                <div class="item-vote{p.voteClass(item.vote)}">
                  <div>
                    <div>
                      <span class="pict vote-up">+</span>
                      <span class="pict vote-down">-</span>
                    </div>
                    <?js if( p.shouldShowScore(item) ) {?> <span class="score<?js if(!p.olderThanMinAge(item)){?> score-young<?js}?>"
                      title="{" Blussi".inflects(item.up)}, {item.down} Minus">
                      <?js print((item.up - item.down).toSiUnit()) ?>
                    </span>
                    <?js } else { ?> <span class="score-hidden" title="Benis noch unsichtbar">●●●</span>
                    <?js } ?>
                    <span class="pict vote-fav<?js if (item.fav){ ?> faved<?js } ?>" title="Favorisieren [f]">*</span>
                    <span class="collect" title="In Sammlung einsortieren">▼</span>
                    <div class="benisbar" data-after-text="{item.up} up / {item.down} down"></div>
                  </div>
                </div>
                <div>
                    <div class="item-details">
                        <a class="time" title="{item.date.readableTime()} " href="/new/{item.id}">{item.date.relativeTime(true)}</a>
                        <span class="time">von</span>
                        <a href="#user/{item.user}" class="user um{item.mark}">{item.user}</a>
                        <span class="item-source">
                    <?js if( item.source ) {?>
                            <span class="pict">s</span>&nbsp;<a href="{{item.source}}" target="_blank">{{item.source.hostName()}}</a>
                            <?js } else { ?>
                            <span class="pict">s</span>upload</span>
                        <?js } ?>
                        </span>
                        <?js if( !item.video ) {?>
                        <span class="item-google-search">
                        <span class="pict">g</span>&nbsp;
                        <a href="https://imgops.com/{item.trimmedUrl}">
                          ImgOps
                        </a> |
                        <a href="https://lens.google.com/uploadbyurl?url=http:{item.image}"
                           target="_blank"> Bild googeln
                        </a> |
                        <a href="https://tineye.com/search/?url=http:{item.image}"
                           target="_blank"> tineye
                        </a>
                    </span>
                        <?js } ?>
                        <?js if( p.user.admin ) { ?>
                        [<span class="action" id="item-delete" data-id="{item.id}">del</span>]
                        [<a href="/new/phash.{item.id}.12">phash</a>]
                        <?js } ?>
                        <span class="item-report action" data-item="{item.id}"><span
                                class="fa fa-exclamation-triangle"></span></span>
                        <input type="hidden" name="deleted" id="deleted" value="{item.deleted}">
                    </div>
                    <div class="item-tags"></div>
                </div>
            </div>
        </div>
    </div>
</div>
