<div class="overlay-content">
    <h2>
        <?js print(p0ll.info.title)?>
        <span class="description"><?js print(p0ll.info.description)?></span>
    </h2>
    <h3 class="center">
        <span>
            <a href="https://pr0p0ll.com/?p=join&pollid=<?js print(p0ll.info.pollid)?>"
               title="Zur Umfrage" target="_blank">Zur Umfrage</a>
        </span>
        <span>
            Author:
            <?js if (p0ll.info.author) { ?>
            <a href="//pr0gramm.com/user/<?js print(p0ll.info.author)?>"
               target="_blank"><?js print(p0ll.info.author)?></a>
            <?js } else { ?>
            <span class="white">Anonym</span>
            <?js } ?>
        </span>
        <span>Zeitraum: <?js print(dateFrom)?> - <?js print(dateTo)?></span>
    </h3>
</div>
<div class="overlay-content">
    <div id="container"></div>
</div>
